r_dir_file(fsck_untrusted, sysfs_dm)

allow fsck_untrusted block_device:dir getattr;

# /data/media
allow fsck_untrusted media_rw_data_file:dir getattr;

allowxperm fsck_untrusted vold_device:blk_file ioctl 0x1271;
allowxperm fsck_untrusted vold_device:blk_file ioctl BLKROGET;
