allow hal_lineage_touch_default {
    sysfs_sec_epen
    sysfs_sec_tsp
    sysfs_sec_touchkey
}:dir search;

allow hal_lineage_touch_default {
    sysfs_sec_epen
    sysfs_sec_tsp
}:file rw_file_perms;
