allow mediaserver camera_socket:sock_file write;
allow mediaserver device:dir r_dir_perms;
allow mediaserver hal_camera_hwservice:hwservice_manager find;
allow mediaserver mm-qcamerad:unix_dgram_socket sendto;
allow mediaserver sysfs_camera:dir search;
allow mediaserver sysfs_camera:file r_file_perms;
allow mediaserver thermal-engine:unix_stream_socket connectto;
allow mediaserver vendor_file:file execmod;
