get_prop(priv_app, camera_prop)

allow priv_app device:dir r_dir_perms;
allow priv_app proc_interrupts:file r_file_perms;

dontaudit priv_app sysfs_android_usb:file open;
