allow system_server sysfs_mdnie:file rw_file_perms;

allow system_server {
    efs_file
    mpctl_data_file
}:dir search;

allow system_server {
    efs_file
    qti_debugfs
}:file r_file_perms;

allow system_server {
    sysfs_sec_ir
    sysfs_sec_led
    sysfs_sec_touchkey
}:file w_file_perms;
