allow vold efs_file:dir rw_dir_perms;
allow vold efs_file:file create;

allow vold {
    block_device
    cache_block_device
    efs_block_device
    system_block_device
}:blk_file getattr;

allowxperm vold vold_device:blk_file ioctl 0x1271;
allowxperm vold vold_device:blk_file ioctl BLKROGET;

dontaudit vold hal_bootctl_hwservice:hwservice_manager find;
