allow vold block_device:blk_file getattr;
allow vold cache_block_device:blk_file getattr;
allow vold efs_block_device:blk_file getattr;
allow vold efs_file:dir rw_dir_perms;
allow vold efs_file:file create;
allow vold system_block_device:blk_file getattr;
